<!-- <h1 align="center">{{title}}</h1> -->
<!-- <h3>App level: {{messageService.message}}</h3>
<app-stock-list></app-stock-list>
<app-create-stock></app-create-stock>
<app-create-rf-stock></app-create-rf-stock>
<app-get-data></app-get-data>
<app-post-data></app-post-data> -->

<!-- <div class="links">
    <span><a routerLink="user/login" routerLinkActive="active">Login</a></span>
    <span><a routerLink="user/register" routerLinkActive="active">Register</a></span>
    <span><a routerLink="stock/stock-list" routerLinkActive="active">Stock List</a></span>
    <span><a routerLink="stock/create-stock" routerLinkActive="active">Create Stock</a></span>
</div>
<router-outlet></router-outlet> -->

<mat-toolbar color="primary" class="nav-height">
    <mat-toolbar-row>
        <button mat-icon-button (click)="openLeftSide()">
            <mat-icon>menu</mat-icon>
        </button>
        <h3>Stock Market</h3>
        <span class="menu-spacer" style="width: 100px;"></span>
        <div>
            <a mat-button [routerLink]="['/stock/stock-list']"
            [routerLinkActive]="'active-link'">
        <mat-icon mat-list-icon>home</mat-icon>Home
    </a>
            <a mat-button [routerLink]="['/user/login']"
            [routerLinkActive]="'active-link'">
        <mat-icon>person</mat-icon>Login
    </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav  #sidenav (closed)="closeLeftSide()">
        <mat-nav-list>
            <a mat-list-item [routerLink]="['stock/stock-list']">
                <mat-icon matListItemIcon >home</mat-icon>Home
            </a>
            <a mat-list-item [routerLink]="['stock/create-stock']"
            (click)="sidenav.toggle()"> 
                <mat-icon matListItemIcon>add</mat-icon>Create
            </a>
            <a mat-list-item [routerLink]="['stock/post-data']"
            (click)="sidenav.toggle()"> 
                <mat-icon matListItemIcon>send</mat-icon>Post data
            </a>
            <a mat-list-item [routerLink]="['stock/get-data']"
            (click)="sidenav.toggle()"> 
                <mat-icon matListItemIcon>backup</mat-icon>Get data
            </a>
            <a mat-list-item (click)="sidenav.toggle()" mat-list-item>
               <mat-icon matListItemIcon>close</mat-icon> Close
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div 
        style="
            height: 90vh;
            margin-top: 20px;
            margin-right: 10px;
            margin-left: 10px;"
            [ngClass]="{
                'content-move-left':!isOpened,
                'content-move-right':isOpened
            }"
            >
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>